* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: black;
    font-family: 'Oxygen', sans-serif;
}

#background-container {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: fill;

    & img {
        height: 100%;
        width: 100%;
    }

    & .red-background {
        opacity: 0;
        margin: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(130deg, rgba(172, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 100%);
        -webkit-backdrop-filter: blur(2.5px);
        backdrop-filter: blur(2.5px);
    }

    & .black-background {
        opacity: 0;
        margin: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(112deg, rgba(5, 5, 5, 0.90) 0%, rgba(15, 15, 15, 0.80) 32%, rgba(18, 18, 18, 0.55) 57%, rgba(24, 24, 24, 0.6) 76%, rgba(43, 43, 43, 0.2) 100%);
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
    }
}

#navigation-container {
    display: none;
    z-index: 10;
    position: absolute;
    height: 100px;
    width: 100%;
    overflow: hidden;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border-bottom: 2px solid rgba(48, 48, 48, 0.3137254902);
    top: 0;
    border-radius: 0px 0px 0px 20px;
    z-index: 30;
    & #content {
        margin-top: 10px;
        height: 70px;
        width: 100%;
        padding: 2px 0 2px 30px;
        & #trademark {
            position: absolute;
            width: 550px;
            & #logo {
                margin-top: 3px;
                height: 64px;
                width: 64px;
                border-radius: 90%;
            }
            & #text {
                left: 75px;
                position: absolute;
                color: #fff;
                font-weight: 800;
                font-size: 50px;
            }
        }
    }
}

#content-container {
    display: none;
    position: absolute;
    overflow-y: scroll;
    height: 80%;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    & #content {
        padding-left: 40px;
    } 
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #141414;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #494949;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0ca1ed;
}