@font-face {
  font-family: "VALORANT";
  src: url("https://storage.theflagen430297.com/fonts/Valorant_Font.eot?#iefix") format("embedded-opentype"), url("https://storage.theflagen430297.com/fonts/Valorant_Font.woff") format("woff"), url("https://storage.theflagen430297.com/fonts/Valorant_Font.ttf") format("truetype"), url("https://storage.theflagen430297.com/fonts/Valorant_Font.svg#svgFontName") format("svg");
  /*src: url(`https://storage.theflagen430297.com/fonts/Valorant_Font.ttf`);*/
}
/* latin-ext */
@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oxygen/v15/2sDcZG1Wl4LcnbuCJW8zZmW5O7w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oxygen/v15/2sDcZG1Wl4LcnbuCJW8zaGW5.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oxygen/v15/2sDfZG1Wl4LcnbuKgE0mV0Q.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oxygen/v15/2sDfZG1Wl4LcnbuKjk0m.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oxygen/v15/2sDcZG1Wl4LcnbuCNWgzZmW5O7w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oxygen/v15/2sDcZG1Wl4LcnbuCNWgzaGW5.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Minecraft" sans-serif;
  src: url("https://storage.theflagen430297.com/fonts/Minecraft-Regular.otf") format("otf");
}
body {
  --text-color: #ececff;
  --black: #050505;
  --valorant-red: #ff4555;
  --main-color: #0ca1ed;
  --second-color: #0058fc;
  color: var(--text-color);
  text-shadow: 5px 5px 10px var(--black);
}

.VALORANTTag::before {
  content: "vAlroant";
  font-family: "VALORANT", sans-serif;
  animation: beta-blinking 2.5s infinite;
  color: var(--valorant-red);
}

.VALORANTFont {
  font-family: "VALORANT", sans-serif;
}

.VALORANTFontBlink {
  font-family: "VALORANT", sans-serif;
  animation: beta-blinking 2.9s infinite;
}

.beta::after {
  font-family: "VALORANT", sans-serif;
  content: "Beta";
  font-size: 20px;
  color: var(--valorant-red);
  animation: beta-blinking 3s infinite;
}

h1 {
  font-size: 80px;
  padding: 0%;
  margin: 0%;
}

h2 {
  padding: 0%;
  margin: 0%;
  color: var(--text-color);
}

h3 {
  padding: 0%;
  margin: 0%;
  color: var(--text-color);
}

.link {
  color: #ececff;
  text-decoration-color: #0ca1ed;
}

.link:hover {
  color: #ececff;
  text-decoration-color: #0058fc;
}

.tooltip {
  display: inline-block;
  position: relative;
  --main-background-color: rgb(16,0,16);
  --main-border-color: linear-gradient(to bottom,rgba(80,0,255,0.31),rgba(40,0,127,0.31));
  --christmas-border-color: linear-gradient(45deg, rgba(255,255,255,1) 4%, rgba(198,30,5,1) 25%, rgba(253,252,250,1) 40%, rgba(59,112,12,1) 57%, rgba(210,228,197,1) 74%, rgba(206,64,43,1) 89%);
}

.tooltip:hover {
  text-decoration-color: var(--second-color);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .dashed {
  border-bottom: 2px dotted var(--main-color);
}

.tooltip .dashed:hover {
  border-bottom: 2px solid var(--second-color);
}

.tooltip .tooltiptext {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: var(--main-background-color);
  box-shadow: 0 0 0 2px var(--main-background-color);
  border: 2px solid;
  -o-border-image: var(--main-border-color);
     border-image: var(--main-border-color);
  border-image-slice: 1;
  border-radius: 4px;
  color: var(--text-color);
  font-family: "Minecraft";
  font-size: 15px;
  padding: 4px 4px 3px;
  position: fixed;
  margin-top: 10px;
  max-width: 100%;
  text-shadow: 2px 2px #3F3F3F;
  visibility: hidden;
  width: -moz-max-content;
  width: max-content;
}

.tooltip .tooltiptext .details {
  color: #414040;
  font-style: italic;
  text-shadow: 2px 2px #242323;
}

.tooltip .tooltiptext .title {
  color: var(--main-color);
  font-size: 20px;
  font-style: italic;
  font-weight: bolder;
  text-shadow: 2px 2px #03276b;
}

VALORANTTag::before {
  content: "vAlroant";
  font-family: "VALORANT", sans-serif;
  animation: beta-blinking 2.5s infinite;
  color: #ff4555;
}

VALORANTFont {
  font-family: "VALORANT", sans-serif;
}

VALORANTFontBlink {
  font-family: "VALORANT", sans-serif;
  animation: beta-blinking 2.9s infinite;
}

beta::after {
  font-family: "VALORANT", sans-serif;
  content: "Beta";
  font-size: 20px;
  color: var(--valorant-red);
  animation: beta-blinking 3s infinite;
}

.tf_link_icon {
  color: #0ca1ed;
}

.tf_link_icon:hover {
  color: #0058fc;
}

ol {
  margin: 0;
  margin-top: -8px;
}

ul {
  margin: 0;
  margin-top: -8px;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 20px;
}

table {
  padding: 4px;
}

table th {
  border: 2px solid #808080;
  border-radius: 2px 2px 2px 2px;
}

table td {
  padding: 6px;
  border: 1px solid #505050;
  border-radius: 2px 2px 2px 2px;
}

.spacer {
  margin-top: 3px;
}

.c4 {
  color: #FB0000;
}

.cf {
  color: #FFFFFF;
}

.c5 {
  color: #AA00AA;
}

.hover {
  color: var(--main-color);
  font-style: italic;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 10px;
  }
}/*# sourceMappingURL=text.css.map */